.App {
  font-family: 'Segoe UI', sans-serif;
  text-align: center;
  margin-top: 50px;
}

df-messenger {
  --df-messenger-bot-message: #e6e6e6;
  --df-messenger-button-titlebar-color: #6200ee;
  --df-messenger-chat-background-color: #ffffff;
  --df-messenger-font-color: #000000;
  --df-messenger-send-icon: #6200ee;
  position: fixed;
  bottom: 0;
  right: 20px;
}

.img-fluid{
  max-width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* background-image: ; */
}

