

.advanced-configuration {
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    margin: 0 auto;
    padding: 24px;
    width: 80%;
    max-width: 800px;
}

.advanced-configuration h3 {
    margin-bottom: 20px;
}

.advanced-configuration .success-message {
    margin-bottom: 20px;
}       


