/* .basic-details {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: auto;
    margin-top: 35px;
}

.basic-details h3 {
    margin-bottom: 20px;
}

.basic-details .success-message {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 1.5rem;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 500;
    color: #333;
  }
   */